name: Build Android
on:
  push:
    branches:
      - master
    tags:
      - "v*"
  
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      - name: Install npm dependencies
        run: npm install
        
      - name: Build Android Release
        run: cd android && ./gradlew assembleRelease
        
      - name: Upload Artifact
        uses: actions/upload-artifact@v1
        with:
          name: release
          path: android/app/build/outputs/apk/release/app-release.apk
          
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          artifacts: "android/app/build/outputs/apk/release/app-release.apk"
